<h1>{{title}}</h1>
<head>
</head>
{{#if admins}}
<table border="solid" name="admin" id="table1" style="table-layout:fixed">
<th>ID
    <th>Email
    <th>Password
    <th>Region
    <th>Last Login 
    <th>Login Attempts
    <th>Account Created
    </th>  
  {{#each admins}}
  <tr>
 <!-- <form method="get" action="/adminsUserEdit" > -->
   <form>
	<td> <input type="text" name="id" value="{{this.id}}" STYLE="background-color: WhiteSmoke"  ></td>
  	<td> <input type="text" name="email" value="{{this.email}}" STYLE="background-color: WhiteSmoke" onclick="changeMe()" id="highlight" ></td>
  	<td> <input type="text" name="password" value="{{this.password}}" STYLE="background-color: WhiteSmoke" onclick="changeMe()" id="highlight" ></td>
  	<td> <input type="text" name="region" value="{{this.region}}" STYLE="background-color: WhiteSmoke" onclick="changeMe()" id="highlight" ></td>
	<td> <input type="text" name="last_login" value="{{this.last_login}}" STYLE="background-color: WhiteSmoke" onclick="changeMe()" id="highlight" ></td>
  	<td> <input type="text" name="login_attempts" value="{{this.login_attempts}}" STYLE="background-color: WhiteSmoke" onclick="changeMe()" id="highlight" ></td>
  	<td> <input type="text" name="creation_time" value="{{this.creation_time}}" STYLE="background-color: WhiteSmoke" onclick="changeMe()" id="highlight" ></td>
  </tr>
  {{/each}}
</table>
<input id="Save" type="submit" name="Save" value="Save" >
<input id="delete" type="submit" name="Delete" value="Delete" >
</form>
{{/if}}
