<!DOCTYPE html>
<html lang="en">
  <head>
        <meta content="width=device-width, initial-scale=1" name="viewport">
         <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    	<link href="../starter-template.css" rel="stylesheet">
   </head>
  <body>
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="#">Employee Recognition Awards System</a> 
     <button aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav">
         <li class="nav-item" >
           <a class="nav-link active" href="/adminProfile">My Profile <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item" >
           <a class="nav-link" href="/accountsMain">Accounts <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item" >
           <a class="nav-link" href="/businessIntelligence">Business Intelligence</a>
         </li>
           
       </ul>
     </div>
               <a href="/logout" >Logout</a>
  </nav>
   <div class="sidebar">
                      <h3 class="headingA">My Profile</h3>
                      
                        <form action="/adminProfile" method="post">
              
                                      <a >
                                         <button type="submit" name="edit" value="edit" class="btn-link">Edit</button>
                                  </a>
                           
                  </form>
                   
                    </div>
     <div class="container-fluid" >
        <div class="row">

    
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> 
     	 	       
	 <div class="table-responsive-sm">
               <table class="table table-sm">
	 	       <thead class="thead-light"> 
	 	       <tr>
                          <th>ID</th>
                          <Th>Name</th>
                          <th>Email</th>
                          <th>Last Login</th>
                          <th>Login Attempts</th>
                          <th>Created</th>
                       {{#if edit}}<th>Action</th> {{/if}}
                        </tr>
                  </thead>
                  <tbody>
                      <tr>
                      <div class="form-group">
                         <form method="post" action="/adminProfile" >
                          {{#if edit}}
                          <td>{{admin.id}}<input class="form-control" type="hidden" name="id" id="id" value="{{admin.id}}"></td>
                            <td><input type="text" class="form-control" name="name" id="name" value="{{admin.name}}" ></td>
			    <td><input type="text" class="form-control" name="email" id="email" value="{{admin.email}}" ></td>
                            <td>{{convertDate admin.last_login}}</td>
                            <td>{{admin.login_attempts}}</td>
                            <td>{{convertDate admin.creation_time}}</td>
                            <td><input class="form-control" id="Save" type="submit" name="Save" value="Save" > 
                           

                          {{else}}
                          {{#if admin}}
                          <td>{{admin.id}}</td>
                          <td>{{admin.name}}</td>
                  	  <td>{{admin.email}}</td>
                          <td>{{convertDate admin.last_login}}</td>
                          <td>{{admin.login_attempts}}</td>
                          <td>{{convertDate admin.creation_time}}</td>
                          </form>
                          </div>
			{{/if}}
			{{/if}}   </tr>

                   </tbody>
              </table>
              </div>
              
          </main>
        </div>
      </div>
 </body>
</html>

